@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: url(https://cdn.pixabay.com/photo/2022/03/18/17/38/pattern-7077094_960_720.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}